/*------------------------------------------------------*/
/*                    ALTA USUARIO                      */
/*------------------------------------------------------*/


/*-----------------CSS CABEZERA----------------------*/
#logo{
    width: 12rem;
    filter: drop-shadow(0 0 20px rgb(90, 244, 18));  /* Aplica una sombra difusa alrededor del texto dentro de la imagen */
    transition: box-shadow 0.3s ease; /* Añade una transición suave para el efecto cuando el logo cambia de estado */
    margin-left: -286px;
    
}

#logo:hover {
    filter: drop-shadow(0 0 10px rgba(244, 253, 6, 0.865)); /* Al pasar el cursor, aumenta la intensidad del brillo */

}

#lupa{
    width: 2rem;
    margin-top: 11px;
    margin-left: 26rem;
}

#lupa:hover{
    filter: brightness(0.5); 
}

.header{
   background-color: #370009; 
}

.nav-link{
    color: #a87b05;
    font-size: 27px;
}

.nav-link:hover{
    color: #825e05;
}

#opcionesNavegador{
    margin-left: 3rem;
    margin-right: -3rem;
}


/*-----------------CSS CUERPO----------------------*/
body{

    background-image: url('../img/fondoPantalla.avif');
    background-size: cover; /* Para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    /*Para la fuente de letra*/
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2, h3{
    color: #a87b05;
}

#textoTituloRegistro{
    background-color: #4C0A0A;
    border-radius: 2rem;
    width: 53%;
    margin-left: 19rem;
    padding: 1rem;
    font-size: 2rem;
}

#seguimientoPagina{
    color: yellow;
    background-color: #4C0A0A;
    width: 15rem;
    margin-left: 1rem;
    padding-left: 8px;
    border-radius: 2rem;
}


/*-----------------CSS FORMULARIO----------------------*/

#formularioUsuario {
    background-color: #bc0909ae;
    padding-top: 66px;
    padding-left: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 39rem;
    height: 27rem;
    margin-bottom: 4rem;
}

#formularioClub {
    background-color: #bc0909ae;
    padding-top: 86px;
    padding-left: 3rem;
    padding-right: 4rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 46rem;
    height: 27rem;
    margin-bottom: 5rem;
    padding-bottom: 25rem;
}

.form-container label {
    color: #FFCC00;
    font-weight: bold;
    width: 56%;
    margin-left: 5rem;
}
.form-container input {
    background-color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 59%;
    margin-left: 2rem;
}
.form-container button {
    background-color: #4C0A0A;
    color: #FFCC00;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    width: 35%;
    margin-left: 11rem;
}


/*-----------------CSS PIE DE PAGINA    ----------------------*/
footer {
    background-color: #8f1414e2;
    padding-top: 2rem;
    width: 100%;
    padding-bottom: 1%;
    margin-top: 5rem;
}
.footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
}

#iconoIdioma{
    width: 2rem;
    margin-right: 25rem;
}

.footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
}

#imagenesPiePagina{
    width: 4rem;
}


/*------------------------------------------------------*/
/*                    ALTA CLUB                         */
/*------------------------------------------------------*/

#labelNombre{
    width: 100%;
}

#nombreClub{
margin-left: 4rem;
}

#labelSitio{
    width: 100%;
}

#sitio{
    margin-left: 6rem;
}

#botonRegistrar{
    margin-top: 1rem;
    margin-left: 13rem;
}

#labelOpcionClub{
    width: 19rem;
    margin-left: 6rem;
}

#opcionClub{
    width: 85%;
    margin-left: 4rem;
}

/*------------------------------------------------------*/
/*                    REGISTRO                         */
/*------------------------------------------------------*/

#opcionRegistro{
    border-radius: 1rem;
    width: 14rem;
}

