/*------------------------------------------------------*/
/*                    ALTA USUARIO                      */
/*------------------------------------------------------*/
#logo{
    width: 12rem;
}

#lupa{
    width: 3rem;
    transform: translate3d(10px, 17px, 10px);
}

.header{
   background-color: rgb(102, 8, 8); 
}


body{

    background-image: url('../img/fondoPantalla.avif');
    background-size: cover; /* Para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    
}

h2, h3{
    color: chartreuse;
}

#seguimientoPagina{
    color: yellow;
    background-color: #4C0A0A;
    width: 15rem;
    margin-left: 1rem;
    padding-left: 8px;
    border-radius: 2rem;
}

/*-----------------CSS FORMULARIO----------------------*/

.form-container {
    background-color: #bc0909ae;
    padding-top: 66px;
    padding-left: 2rem;
    padding-right: 4rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 39rem;
    height: 27rem;
    margin-bottom: 4rem;
}
.form-container label {
    color: #FFCC00;
    font-weight: bold;
    width: 56%;
    margin-left: 4rem;
}
.form-container input {
    background-color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 59%;
    margin-left: 2rem;
}
.form-container button {
    background-color: #4C0A0A;
    color: #FFCC00;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    width: 35%;
    margin-left: 11rem;
}


/*-----------------CSS PIE DE PAGINA    ----------------------*/
footer {
    background-color: #8f1414e2;
    padding-top: 2rem;
    width: 100%;
    padding-bottom: 1%;
    margin-top: 5rem;
}
.footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
}

#iconoIdioma{
    width: 2rem;
    margin-right: 19rem;
}

.footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
}

#imagenesPiePagina{
    width: 4rem;
}


/*------------------------------------------------------*/
/*                    ALTA CLUB                         */
/*------------------------------------------------------*/

#labelNombre{
    width: 100%;
}

#nombreClub{
margin-left: 4rem;
}

#labelSitio{
    width: 100%;
}

#sitio{
    margin-left: 6rem;
}

#descripcion{
    margin-left: 3rem;
}


#labelOpcionClub{
    width: 19rem;
    margin-left: 6rem;
}

#opcionClub{
    width: 85%;
    margin-left: 4rem;
}